build/
bin/
obj/
*.exe
*.dll
*.so
*.dylib
*.out

.xmake/
xmake.cache
packages/

.vscode/
.vs/
*.sln
*.vcxproj
*.user
*.pdb
*.ilk

shaders/*.spv

weights/*.bin

*.log
*.tmp
temp/

.DS_Store
Thumbs.db

thirdparty/

vsxmake2026